* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Lato;
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #4A4E69;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #76eed4;
  }
  
  form > h1 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
    letter-spacing: 2px;
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d6d1d5;
    margin-top: 5px;
  }
  select {
  
    width: 100%;
    height: 35px;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-top: 2em;
    margin-right: 10px;
  }

  
  .error {
    color:#db2269;
    font-size: 0.5em;
    display: relative;
  }
  
  


  .box{
    width: 172px;
    height: 59px;
    background:#76eed4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn{
    width: 150px;
    height: 40px;
    background: #fff;
    position:relative;
    

  }

  .btn button{
    border-radius: 20px;
    position:absolute;
    width: 100%;
    height:100%;
    font-size: 1.1em;
    background: white;
    border: 1.5px solid #333;
    color:#333;
    cursor: pointer;
    transition : all .555s;
    z-index: 3;

  }

  .btn:hover button{
    color:white;
    border:none;
    background: linear-gradient(to right,#f64f59,#c471ed,#12c2e9);
  }

  .bg, .bg-gradient{
    position: absolute;
    width: 100%;
    height:100%;
    background: #76eed4;
    z-index: 2;
    transform: scale(1.05,1.2);
  }

  .bg-gradient{
    z-index: 1;
    transform: scale(0.2, 1.4);
    transition: all .9s;
  }

  .btn:hover .bg-gradient{
    transform:scale(1.1,1.4);
    background: linear-gradient(to right,yellow,red,aqua);
  }